In [34]:
import json
with open("Twitter_User_Handles_labeled_tweets.json", encoding="utf8") as file:
    text = file.read()
    tweets = json.loads(text)

In [35]:
tweets['12488'][:2]

['YKAR, a futuristic sans serif font by @EmmeranR - #Freebie #Font #Merci https://t.co/b6fBDvz6yZ',
 '@MBonvoyAssist Who can I contact about the very rude and poor service Iâ€™m experiencing during my current stay? Please and thank you!']

In [36]:
with open("User demo profiles.json", encoding="utf8") as file:
    text = file.read()
    profiles = json.loads(text)

In [37]:
profiles[:2]

[{'id': 12488,
  'name': 'Chad Boyce',
  'screen_name': 'djsnipa1',
  'description': 'Multimedia Developer, Graphic Designer, DJ, and anything else you want to call me.',
  'lang': 'NA',
  'img_path': 'profile pics/60147.jpeg'},
 {'id': 719703,
  'name': 'Tomato ðŸ˜·',
  'screen_name': 'Tomato',
  'description': 'ðŸ‡­ðŸ‡°Rise Up!',
  'lang': 'NA',
  'img_path': 'profile pics/60148.jpeg'}]

In [38]:
profile_dict = {}
for profile in profiles:
    profile_dict[str(profile['id'])] = {'name': profile['name'], 'screen_name': profile['screen_name'], 'description': profile['description'], 'lang': profile['lang'], 'img_path': profile['img_path']}

profile_dict['12488']

{'name': 'Chad Boyce',
 'screen_name': 'djsnipa1',
 'description': 'Multimedia Developer, Graphic Designer, DJ, and anything else you want to call me.',
 'lang': 'NA',
 'img_path': 'profile pics/60147.jpeg'}

In [39]:
import pandas as pd
users = pd.read_csv("labeled_users.csv")

In [40]:
print(len(users))
print(len(profiles))
print(len(tweets))

4132
3609
3276

In [41]:
len(users[users["year_born"].isnull()])

48

In [42]:
users["Under 21"] = (users["year_born"] > 2000).astype(int)

In [43]:
users.groupby("Under 21").count()

          user_id  is_female  year_born  race
Under 21
0            4110       4047       4062  4070
1              22         22         22    22

In [44]:
users[users["user_id"].isin([x['id'] for x in profiles])]

           user_id  is_female  year_born  race  Under 21
0     1.248800e+04        0.0     1980.0   4.0         0
1     7.197030e+05        0.0     1985.0   4.0         0
2     7.221530e+05        1.0     1973.0   3.0         0
3     7.490030e+05        0.0     1982.0   5.0         0
5     8.116180e+05        0.0     1987.0   3.0         0
...            ...        ...        ...   ...       ...
4120  4.895391e+09        0.0     1976.0   2.0         0
4121  4.895832e+09        0.0     1977.0   4.0         0
4122  4.921995e+09        1.0     1996.0   4.0         0
4123  4.924159e+09        1.0     1983.0   4.0         0
4124  4.928658e+09        1.0     1996.0   4.0         0

[3607 rows x 5 columns]

In [47]:
raceDict = users.set_index('user_id').to_dict()['race']
ageDict = users.set_index('user_id').to_dict()['Under 21']

userList, tweetList, nameList, screenNameList, descriptionList, langList, imgPathList, raceList, ageList = [], [], [], [], [], [], [], [], []
for user in tweets:
    for tweet in tweets[user]:
        profile = profile_dict[user]
        name = profile['name']
        screenName = profile['screen_name']
        description = profile['description']
        lang = profile['lang']
        img_path = profile['img_path']
        userList.append(user)
        tweetList.append(tweet)
        nameList.append(name)
        descriptionList.append(description)
        screenNameList.append(screenName)
        langList.append(lang)
        imgPathList.append(img_path)
        raceList.append(raceDict[float(user)])
        ageList.append(ageDict[float(user)])
df = pd.DataFrame({'User': userList, 'Tweet': tweetList, 'Name': nameList, 'Screen Name': screenNameList, 'Description': descriptionList,
              'Lang': langList, 'img_path': imgPathList, 'Race': raceList, 'Under 21': ageList}).drop(columns=['User'])
df.to_csv('labeled_tweet_table.csv', index=False)
df

,Tweet,Name,Screen Name,Description,Lang,img_path,Race,Under 21
0,"YKAR, a futuristic sans serif font by @Emmeran...",Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0,0
1,@MBonvoyAssist Who can I contact about the ver...,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0,0
2,@SSlnes Iâ€™d like to win!,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0,0
3,@LuckyDucksNFT @Rydog,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0,0
4,Now I'm heading to B1000th Floor! #quickrogue,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg,4.0,0
...,...,...,...,...,...,...,...,...
313468,Preach it ðŸ™ŒðŸ™Œ https://t.co/8xPvSZpiLb,âœ¿â™¥â˜†âœ§Õ¡aÊ„Ê„ÊŸÉ› Õ¦ÊŠÉ›É›Õ¼âœ§â˜†â™¥âœ¿,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN,0
313469,Wut? https://t.co/FxR7WlXhDz,âœ¿â™¥â˜†âœ§Õ¡aÊ„Ê„ÊŸÉ› Õ¦ÊŠÉ›É›Õ¼âœ§â˜†â™¥âœ¿,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN,0
313470,"Im not trying to be rude, im just saying that ...",âœ¿â™¥â˜†âœ§Õ¡aÊ„Ê„ÊŸÉ› Õ¦ÊŠÉ›É›Õ¼âœ§â˜†â™¥âœ¿,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN,0
313471,"Sir, I'd like to know why you're being so rude...",âœ¿â™¥â˜†âœ§Õ¡aÊ„Ê„ÊŸÉ› Õ¦ÊŠÉ›É›Õ¼âœ§â˜†â™¥âœ¿,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN,0
313472,"As a person of the female gender, not all are ...",âœ¿â™¥â˜†âœ§Õ¡aÊ„Ê„ÊŸÉ› Õ¦ÊŠÉ›É›Õ¼âœ§â˜†â™¥âœ¿,landry_rosalee,other acount- @furious_waffles and @i_cant_wor...,NA,profile pics/64232.jpeg,NaN,0